In [125]:
import pandas as pd

In [126]:
df0 = pd.read_csv('all_races.csv', index_col = False)
df0

/var/folders/4c/8skw9t597zl_pb3jtt1f0kdc0000gn/T/ipykernel_33905/4068198689.py:1: DtypeWarning: Columns (0,2,3,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df0 = pd.read_csv('all_races.csv', index_col = False)

,place,age_class,place_in_class,bib,name,sex,nation,team,official_time,net_time,birth_date,event,event_year,distance
0,1,M20,1,1,Rui Pedro Silva,M,PT,Individual,0 days 00:29:56.000000000,0 days 00:29:53.000000000,01/01/1992,dia-do-pai,2012,10
1,2,M20,2,184,Paulo Gomes,M,PT,Individual,0 days 00:29:58.000000000,0 days 00:29:58.000000000,01/01/1992,dia-do-pai,2012,10
2,3,M20,3,3,Bruno Albuquerque,M,PT,Sporting C P,0 days 00:30:20.000000000,0 days 00:30:18.000000000,01/01/1992,dia-do-pai,2012,10
3,4,M20,4,84,Manuel Sousa,M,PT,C I Argoncilhe,0 days 00:31:27.000000000,0 days 00:31:25.000000000,01/04/1972,dia-do-pai,2012,10
4,5,M20,5,4,Luis Mendes,M,PT,Cyclones Sanitop,0 days 00:31:46.000000000,0 days 00:31:45.000000000,01/01/1992,dia-do-pai,2012,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293854,8791,F20,1027,9706,Marlene Hipólito,F,PT,Os (Es)Gaseados,0 days 01:43:37.000000000,0 days 01:34:55.000000000,11/04/1989,sao-silvestre,2016,10
293855,8792,F35,512,9702,Teresa Pais,F,PT,Os (Es)Gaseados,0 days 01:43:37.000000000,0 days 01:34:56.000000000,26/02/1981,sao-silvestre,2016,10
293856,8793,M20,2039,9705,Tiago Mendes,M,PT,Os (Es)Gaseados,0 days 01:43:37.000000000,0 days 01:34:56.000000000,27/09/1989,sao-silvestre,2016,10
293857,8794,F40,789,12149,Graça Lourenço,F,PT,NaN,0 days 01:57:32.000000000,0 days 01:57:32.000000000,24/02/1968,sao-silvestre,2016,10
293858,8795,F40,790,9573,Lídia Melo,F,PT,NaN,0 days 01:57:47.000000000,0 days 01:52:13.000000000,21/12/1959,sao-silvestre,2016,10

In [128]:
##
#We are going to drop 146930 because the data is duplicate, and the
#. duplicate function of the python is not working properly since 
df0
#df0 = df0.drop(df0.tail(146930), inplace= True)
#df.iloc[146929]
#df = df.drop(146929)


# Number of rows to drop
n = 146930
# Using DataFrame.tail() to Drop top two rows
df2 = df0.tail(df0.shape[0] -n)
print(df2)

       place age_class place_in_class    bib               name sex nation  \
146930     1       M20              1      1    Rui Pedro Silva   M     PT
146931     2       M20              2    184        Paulo Gomes   M     PT
146932     3       M20              3      3  Bruno Albuquerque   M     PT
146933     4       M20              4     84       Manuel Sousa   M     PT
146934     5       M20              5      4        Luis Mendes   M     PT
...      ...       ...            ...    ...                ...  ..    ...
293854  8791       F20           1027   9706   Marlene Hipólito   F     PT
293855  8792       F35            512   9702        Teresa Pais   F     PT
293856  8793       M20           2039   9705       Tiago Mendes   M     PT
293857  8794       F40            789  12149     Graça Lourenço   F     PT
293858  8795       F40            790   9573         Lídia Melo   F     PT

                    team              official_time  \
146930        Individual  0 days 00:29:56.000000000
146931        Individual  0 days 00:29:58.000000000
146932      Sporting C P  0 days 00:30:20.000000000
146933    C I Argoncilhe  0 days 00:31:27.000000000
146934  Cyclones Sanitop  0 days 00:31:46.000000000
...                  ...                        ...
293854   Os (Es)Gaseados  0 days 01:43:37.000000000
293855   Os (Es)Gaseados  0 days 01:43:37.000000000
293856   Os (Es)Gaseados  0 days 01:43:37.000000000
293857               NaN  0 days 01:57:32.000000000
293858               NaN  0 days 01:57:47.000000000

                         net_time  birth_date          event event_year  \
146930  0 days 00:29:53.000000000  01/01/1992     dia-do-pai       2012
146931  0 days 00:29:58.000000000  01/01/1992     dia-do-pai       2012
146932  0 days 00:30:18.000000000  01/01/1992     dia-do-pai       2012
146933  0 days 00:31:25.000000000  01/04/1972     dia-do-pai       2012
146934  0 days 00:31:45.000000000  01/01/1992     dia-do-pai       2012
...                           ...         ...            ...        ...
293854  0 days 01:34:55.000000000  11/04/1989  sao-silvestre       2016
293855  0 days 01:34:56.000000000  26/02/1981  sao-silvestre       2016
293856  0 days 01:34:56.000000000  27/09/1989  sao-silvestre       2016
293857  0 days 01:57:32.000000000  24/02/1968  sao-silvestre       2016
293858  0 days 01:52:13.000000000  21/12/1959  sao-silvestre       2016

       distance
146930       10
146931       10
146932       10
146933       10
146934       10
...         ...
293854       10
293855       10
293856       10
293857       10
293858       10

[146929 rows x 14 columns]

In [130]:
df = df2.astype({"place_in_class":"int", "bib":"int", "event_year":"int", "distance":"int"})

df.info()  
#293858     146928


#df0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146929 entries, 146930 to 293858
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   place           146929 non-null  object
 1   age_class       146924 non-null  object
 2   place_in_class  146929 non-null  int64
 3   bib             146929 non-null  int64
 4   name            146929 non-null  object
 5   sex             146929 non-null  object
 6   nation          146929 non-null  object
 7   team            110265 non-null  object
 8   official_time   146929 non-null  object
 9   net_time        145853 non-null  object
 10  birth_date      146929 non-null  object
 11  event           146929 non-null  object
 12  event_year      146929 non-null  int64
 13  distance        146929 non-null  int64
dtypes: int64(4), object(10)
memory usage: 15.7+ MB

In [131]:
count_nan_in_df = df.isnull().sum()
print (count_nan_in_df)

place                 0
age_class             5
place_in_class        0
bib                   0
name                  0
sex                   0
nation                0
team              36664
official_time         0
net_time           1076
birth_date            0
event                 0
event_year            0
distance              0
dtype: int64

In [132]:
duplicate = df[df.duplicated(['name', 'birth_date', 'event', 'event_year', 'official_time'])]
 
print("Duplicate Rows :", duplicate)

Duplicate Rows :         place age_class  place_in_class    bib               name sex nation  \
154211   3782       M20            1116   7624   Jose Pedro Dinis   M     PT
154213   3783       M20            1117   7673      Oscar Pereira   M     PT
154214   3782       M20            1116   7624   Jose Pedro Dinis   M     PT
154215   3782       M20            1116   7624   Jose Pedro Dinis   M     PT
154216   3783       M20            1117   7673      Oscar Pereira   M     PT
154217   3783       M20            1117   7673      Oscar Pereira   M     PT
154433    211       M45              31   5347      Antonio Neves   M     PT
164974   1092       M35             212   6208  Frederico Moreira   M     PT
201026   3409       M45             494   6086     Jorge Quaresma   M     PT
221987   4101       F20             174    598       Susana Silva   F     PT
254018   1330       M35             278   1198        Paulo Silva   M     PT
284589  10406       M40            1432  11138       Nuno Peralta   M     PT
290651   5588       F40             302  12281     Silvia Coimbra   F     PT
291348   6285       F20             487   8362        Rita Duarte   F     PT

                                 team              official_time  \
154211                      Fernomeno  0 days 01:32:22.000000000
154213                      Fernomeno  0 days 01:32:22.000000000
154214                      Fernomeno  0 days 01:32:22.000000000
154215                      Fernomeno  0 days 01:32:22.000000000
154216                      Fernomeno  0 days 01:32:22.000000000
154217                      Fernomeno  0 days 01:32:22.000000000
154433       Clube Pessoal Edp - Fafe  0 days 00:41:16.000000000
164974      Clube Pessoal Edp - Porto  0 days 00:49:21.000000000
201026  Passatempo Edp - Correr Viseu  0 days 04:38:57.000000000
221987                     Sport Zone  0 days 02:22:03.000000000
254018                     Individual  0 days 00:48:09.000000000
284589                             Pi  0 days 01:25:43.000000000
290651            Soc. Com. C. Santos  0 days 01:05:22.000000000
291348                            NaN  0 days 01:08:04.000000000

                         net_time  birth_date          event  event_year  \
154211  0 days 01:29:09.000000000  25/10/1981     dia-do-pai        2013
154213  0 days 01:22:39.000000000  09/01/1981     dia-do-pai        2013
154214  0 days 01:29:09.000000000  25/10/1981     dia-do-pai        2013
154215  0 days 01:29:09.000000000  25/10/1981     dia-do-pai        2013
154216  0 days 01:22:39.000000000  09/01/1981     dia-do-pai        2013
154217  0 days 01:22:39.000000000  09/01/1981     dia-do-pai        2013
154433  0 days 00:41:00.000000000  24/06/1966     dia-do-pai        2014
164974  0 days 00:48:00.000000000  10/10/1978     dia-do-pai        2016
201026  0 days 04:33:11.000000000  05/03/1967       maratona        2015
221987  0 days 02:21:16.000000000  18/11/1980  meia_maratona        2014
254018  0 days 00:47:08.000000000  06/01/1973  sao-silvestre        2012
284589  0 days 01:16:06.000000000  21/05/1971  sao-silvestre        2015
290651  0 days 01:05:22.000000000  22/09/1963  sao-silvestre        2016
291348  0 days 01:06:20.000000000  20/04/1982  sao-silvestre        2016

        distance
154211        10
154213        10
154214        10
154215        10
154216        10
154217        10
154433        10
164974        10
201026        42
221987        21
254018        10
284589        10
290651        10
291348        10

In [133]:
df3 = df.drop_duplicates(keep='first')
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146923 entries, 146930 to 293858
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   place           146923 non-null  object
 1   age_class       146918 non-null  object
 2   place_in_class  146923 non-null  int64
 3   bib             146923 non-null  int64
 4   name            146923 non-null  object
 5   sex             146923 non-null  object
 6   nation          146923 non-null  object
 7   team            110259 non-null  object
 8   official_time   146923 non-null  object
 9   net_time        145847 non-null  object
 10  birth_date      146923 non-null  object
 11  event           146923 non-null  object
 12  event_year      146923 non-null  int64
 13  distance        146923 non-null  int64
dtypes: int64(4), object(10)
memory usage: 16.8+ MB

In [134]:
count_nan_in_df3 = df3.isnull().sum()
print (count_nan_in_df3)

place                 0
age_class             5
place_in_class        0
bib                   0
name                  0
sex                   0
nation                0
team              36664
official_time         0
net_time           1076
birth_date            0
event                 0
event_year            0
distance              0
dtype: int64

In [135]:
df3.shape

(146923, 14)

In [8]:
###
##Should we drop nan values or not?
##Should we estimate temas name based on the name of the person? maybe no
##Should we estimate the net time somehow? maybe no
##Should we estimate the age class? maybe no
##Should we drop all the na? maybe yes!
##For now I keep all of them till decision

In [136]:
##
##Tables based on Rojan UML

#new = old.filter(['A','B','D'], axis=1)

unique_runners = df3.drop_duplicates(subset=['name', 'birth_date'], keep='first')
unique_runners.reset_index()

,index,place,age_class,place_in_class,bib,name,sex,nation,team,official_time,net_time,birth_date,event,event_year,distance
0,146930,1,M20,1,1,Rui Pedro Silva,M,PT,Individual,0 days 00:29:56.000000000,0 days 00:29:53.000000000,01/01/1992,dia-do-pai,2012,10
1,146931,2,M20,2,184,Paulo Gomes,M,PT,Individual,0 days 00:29:58.000000000,0 days 00:29:58.000000000,01/01/1992,dia-do-pai,2012,10
2,146932,3,M20,3,3,Bruno Albuquerque,M,PT,Sporting C P,0 days 00:30:20.000000000,0 days 00:30:18.000000000,01/01/1992,dia-do-pai,2012,10
3,146933,4,M20,4,84,Manuel Sousa,M,PT,C I Argoncilhe,0 days 00:31:27.000000000,0 days 00:31:25.000000000,01/04/1972,dia-do-pai,2012,10
4,146934,5,M20,5,4,Luis Mendes,M,PT,Cyclones Sanitop,0 days 00:31:46.000000000,0 days 00:31:45.000000000,01/01/1992,dia-do-pai,2012,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64005,293851,8788,M20,2038,4882,Pedro Fernandes,M,PT,Run5us,0 days 01:42:25.000000000,0 days 01:36:25.000000000,31/08/1988,sao-silvestre,2016,10
64006,293852,8789,F40,788,11451,Luisa Fernandes,F,PT,Run2us,0 days 01:42:25.000000000,0 days 01:36:24.000000000,23/06/1965,sao-silvestre,2016,10
64007,293853,8790,F20,1026,9710,Susana Marques,F,PT,Os (Es)Gaseados,0 days 01:43:36.000000000,0 days 01:34:56.000000000,18/04/1983,sao-silvestre,2016,10
64008,293855,8792,F35,512,9702,Teresa Pais,F,PT,Os (Es)Gaseados,0 days 01:43:37.000000000,0 days 01:34:56.000000000,26/02/1981,sao-silvestre,2016,10
64009,293857,8794,F40,789,12149,Graça Lourenço,F,PT,NaN,0 days 01:57:32.000000000,0 days 01:57:32.000000000,24/02/1968,sao-silvestre,2016,10

In [137]:
#Creating the runners table with runner_index as key


runners_table = unique_runners.filter(['name', 'birth_date'])
#runners_table2 = runners_table1.reset_index()
#runners_table = runners_table2.filter(['name', 'sex', 'nation', 'birth_date'])
runners_table['runner_index'] = range(1, len(runners_table) + 1)

runners_table

                     name  birth_date  runner_index
146930    Rui Pedro Silva  01/01/1992             1
146931        Paulo Gomes  01/01/1992             2
146932  Bruno Albuquerque  01/01/1992             3
146933       Manuel Sousa  01/04/1972             4
146934        Luis Mendes  01/01/1992             5
...                   ...         ...           ...
293851    Pedro Fernandes  31/08/1988         64006
293852    Luisa Fernandes  23/06/1965         64007
293853     Susana Marques  18/04/1983         64008
293855        Teresa Pais  26/02/1981         64009
293857     Graça Lourenço  24/02/1968         64010

[64010 rows x 3 columns]

In [138]:
#Event


unique_events = df3.drop_duplicates(subset=['event','event_year','distance'], keep='first')
unique_events

unique_events = unique_events.filter(['event','event_year', 'distance'])
unique_events['event_index'] = range(1, len(unique_events) + 1)

unique_events

                event  event_year  distance  event_index
146930     dia-do-pai        2012        10            1
150430     dia-do-pai        2013        10            2
154218     dia-do-pai        2014        10            3
159138     dia-do-pai        2015        10            4
163883     dia-do-pai        2016        10            5
167848     dia-do-pai        2017        10            6
171462    family-race        2012        15            7
173819    family-race        2013        16            8
176239    family-race        2014        16            9
178602    family-race        2015        15           10
181296    family-race        2016        15           11
183829            mar        2015        10           12
185788            mar        2016        10           13
187479            mar        2017        10           14
189145       maratona        2012        42           15
190816       maratona        2013        42           16
193579       maratona        2014        42           17
197618       maratona        2015        42           18
202024       maratona        2016        42           19
206760  meia_maratona        2011        21           20
209789  meia_maratona        2012        21           21
213489  meia_maratona        2013        21           22
217886  meia_maratona        2014        21           23
222373  meia_maratona        2015        21           24
227568  meia_maratona        2016        21           25
232853       sao-joao        2012        15           26
235341       sao-joao        2013        15           27
239001       sao-joao        2014        15           28
242740       sao-joao        2015        15           29
246192       sao-joao        2016        15           30
248940  sao-silvestre        2011        10           31
252689  sao-silvestre        2012        10           32
257564  sao-silvestre        2013        10           33
265402  sao-silvestre        2014        10           34
274186  sao-silvestre        2015        10           35
285064  sao-silvestre        2016        10           36

In [139]:
#Team

table_team = df3.drop_duplicates(subset=['team'], keep='first')


table_team = table_team.filter(['team'])
table_team['team_index'] = range(1, len(table_team) + 1)

table_team

                            team  team_index
146930                Individual           1
146932              Sporting C P           2
146933            C I Argoncilhe           3
146934          Cyclones Sanitop           4
146935         Edp Clube Pessoal           5
...                          ...         ...
293765  Unicer - Unicer - Jzoi6s       11219
293822               Defreitas11       11220
293836         Doidos Pelo Natal       11221
293847               Go Baby, Go       11222
293852                    Run2us       11223

[11223 rows x 2 columns]

In [140]:
unique_age_class = df3.drop_duplicates(subset=['age_class'], keep='first')
unique_age_class['age_index'] = range(1, len(unique_age_class) + 1)

unique_age_class

/var/folders/4c/8skw9t597zl_pb3jtt1f0kdc0000gn/T/ipykernel_33905/869887470.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_age_class['age_index'] = range(1, len(unique_age_class) + 1)

,place,age_class,place_in_class,bib,name,sex,nation,team,official_time,net_time,birth_date,event,event_year,distance,age_index
146930,1,M20,1,1,Rui Pedro Silva,M,PT,Individual,0 days 00:29:56.000000000,0 days 00:29:53.000000000,01/01/1992,dia-do-pai,2012,10,1
146935,6,M50,1,318,Jose Dias,M,PT,Edp Clube Pessoal,0 days 00:31:58.000000000,0 days 00:31:53.000000000,28/04/1958,dia-do-pai,2012,10,2
146936,7,M40,1,11,Augusto Costa,M,PT,N A Taipas,0 days 00:32:46.000000000,0 days 00:32:43.000000000,08/12/1969,dia-do-pai,2012,10,3
146937,8,M17,1,4364,Andre Pereira,M,PT,Casa Do Benfica Paredes,0 days 00:33:20.000000000,0 days 00:33:15.000000000,10/08/1995,dia-do-pai,2012,10,4
146941,12,F20,1,13,Leonor Carneiro,F,PT,Maratona C P,0 days 00:34:20.000000000,0 days 00:34:17.000000000,01/01/1992,dia-do-pai,2012,10,5
146943,14,M45,1,1189,Antonio Carvalho,M,PT,Estornorte,0 days 00:34:35.000000000,0 days 00:34:32.000000000,30/05/1966,dia-do-pai,2012,10,6
146987,58,M55,1,1817,Abilio Sousa,M,PT,Millenium Bcp,0 days 00:38:05.000000000,0 days 00:37:55.000000000,07/08/1952,dia-do-pai,2012,10,7
147079,150,F45,1,16,Manuela Machado,F,PT,Cyclones Sanitop,0 days 00:40:43.000000000,0 days 00:40:40.000000000,09/08/1963,dia-do-pai,2012,10,8
147153,224,M18,1,1699,Fabio Andre Pereira Brites,M,PT,Individual,0 days 00:42:03.000000000,0 days 00:41:26.000000000,13/05/1993,dia-do-pai,2012,10,9
147170,241,F40,1,2333,Lucinda Santos Sousa,F,PT,Unicer,0 days 00:42:20.000000000,0 days 00:42:06.000000000,11/01/1971,dia-do-pai,2012,10,10
147217,288,M60,1,319,Augusto Granja,M,PT,Edp Clube Pessoal,0 days 00:43:05.000000000,0 days 00:42:49.000000000,01/03/1952,dia-do-pai,2012,10,11
150040,3112,F18,1,314,Adriana Castro,F,PT,Gnr Guimaraes,0 days 01:04:57.000000000,0 days 01:04:43.000000000,31/08/1993,dia-do-pai,2012,10,12
150431,2,M35,1,3,Paulo Gomes,M,PT,C U A Benaventense,0 days 00:30:44.000000000,0 days 00:30:44.000000000,15/05/1973,dia-do-pai,2013,10,13
151091,662,F35,1,445,Sandra Lage,F,PT,Parque Nascente Health Club,0 days 00:46:51.000000000,0 days 00:46:44.000000000,05/11/1977,dia-do-pai,2013,10,14
153846,3418,F17,1,7525,Rita Isabel Batista,F,PT,Clube Pessoal Edp - Porto,0 days 01:08:34.000000000,0 days 01:07:04.000000000,02/10/1996,dia-do-pai,2013,10,15
160454,1317,NaN,285,1117,João Campos,M,PT,NaN,0 days 00:50:00.000000000,0 days 00:49:50.000000000,20/12/1975,dia-do-pai,2015,10,16
164116,234,F60,1,47,Conceição Grare,F,PT,Porto Runners,0 days 00:41:33.000000000,0 days 00:41:29.000000000,19/07/1953,dia-do-pai,2016,10,17
164329,447,F50,1,530,Rosa Amélia Ferreira,F,PT,X5 Health Club,0 days 00:44:21.000000000,0 days 00:44:03.000000000,24/04/1964,dia-do-pai,2016,10,18
164955,1073,F55,1,565,Ana Maria Barbosa,F,PT,NaN,0 days 00:49:11.000000000,0 days 00:48:25.000000000,18/01/1960,dia-do-pai,2016,10,19
171462,1,FRM35,1,2761,Luis Feiteira,M,PT,Rb Running,0 days 00:50:21.000000000,0 days 00:50:21.000000000,21/04/1973,family-race,2012,15,20
171464,3,FRM20,1,2904,Ricardo Vale,M,PT,Sporting C P,0 days 00:50:22.000000000,0 days 00:50:22.000000000,01/01/1992,family-race,2012,15,21
171474,13,FRF20,1,2895,Leonor Carneiro,F,PT,Maratona C P,0 days 00:54:47.000000000,0 days 00:54:46.000000000,01/01/1992,family-race,2012,15,22
171481,20,FRF35,1,2767,Elisabete Lopes,F,PT,N A Taipas,0 days 00:58:34.000000000,0 days 00:58:34.000000000,04/03/1975,family-race,2012,15,23
171955,494,FRM18,1,4223,Ricardo Campos,M,PT,Edp Gas,0 days 01:19:47.000000000,0 days 01:17:43.000000000,30/06/1993,family-race,2012,15,24
172547,1086,FRF18,1,4002,Telma Oliveira,F,PT,Parque Nascente H C,0 days 01:28:03.000000000,0 days 01:24:59.000000000,04/04/1994,family-race,2012,15,25
173508,2047,FRM17,1,4308,Dario Lourenco,M,PT,Bip-Bip Running Time,0 days 01:45:48.000000000,0 days 01:41:43.000000000,17/02/2008,family-race,2012,15,26
189421,277,M65,1,398,Armando Macedo,M,PT,Amigos Quinta Das Freiras,0 days 03:18:46.000000000,0 days 03:18:08.000000000,11/11/1944,maratona,2012,42,27
209874,86,M20INA,1,4958,Manuel Alberto Magalhães,M,PT,Inatel - Coelima,0 days 01:19:06.000000000,0 days 01:18:57.000000000,16/08/1980,meia_maratona,2012,21,28
209878,90,M50INA,1,4974,Jose Araújo,M,PT,Inatel,0 days 01:19:24.000000000,0 days 01:19:04.000000000,04/04/1959,meia_maratona,2012,21,29
210019,231,M60INA,1,4970,Jose Ribeiro,M,PT,Inatel - Cluve,0 days 01:26:49.000000000,0 days 01:26:23.000000000,29/03/1951,meia_maratona,2012,21,30
210049,261,M45INA,1,4977,Jose Correia,M,PT,Inatel - Clube Academico Gandaras,0 days 01:27:57.000000000,0 days 01:27:43.000000000,08/09/1964,meia_maratona,2012,21,31
210176,388,M40INA,1,4980,Carlos Alberto Coutinho Flor,M,PT,Inatel - Apdl,0 days 01:31:32.000000000,NaN,08/01/1971,meia_maratona,2012,21,32
210819,1031,M55INA,1,4972,Francisco Jose Santos Lima,M,PT,Inatel - Apdl,0 days 01:42:24.000000000,0 days 01:41:25.000000000,19/09/1952,meia_maratona,2012,21,33
211633,1845,M65INA,1,4959,Antonio Duarte Cidade,M,PT,Inatel - Petrogal,0 days 01:53:27.000000000,0 days 01:52:00.000000000,18/12/1946,meia_maratona,2012,21,34
232897,45,IM50,1,3516,Jose Araujo,M,PT,Inatel,0 days 00:54:25.000000000,0 days 00:54:21.000000000,04/04/1959,sao-joao,2012,15,35
232900,48,IM40,1,3510,Antonio Magalhaes,M,PT,Inatel - Coelima,0 days 00:54:32.000000000,0 days 00:54:27.000000000,10/06/1968,sao-joao,2012,15,36
232904,52,IM45,1,3513,Manuel Machado,M,PT,Inatel - Coelima,0 days 00:55:02.000000000,0 days 00:54:57.000000000,16/08/1965,sao-joao,2012,15,37
232913,61,ISENM,1,3504,Pedro Carvalho,M,PT,Inatel - Apdl,0 days 00:55:46.000000000,0 days 00:55:40.000000000,24/05/1977,sao-joao,2012,15,38
233152,301,IM55,1,3518,Francisco Lima,M,PT,Inatel - Apdl,0 days 01:05:04.000000000,0 days 01:04:57.000000000,19/09/1952,sao-joao,2012,15,39
233153,302,IM65,1,3532,Henrique Pestana,M,PT,Inatel - Apdl,0 days 01:05:04.000000000,0 days 01:03:22.000000000,01/03/1947,sao-joao,2012,15,40
233162,311,IM60,1,3524,Alfredo Rocha,M,PT,Inatel - Apdl,0 days 01:05:16.000000000,0 days 01:05:09.000000000,21/01/1950,sao-joao,2012,15,41
234225,1375,IM70,1,3534,Ernani Carvalho,M,PT,Inatel - Petrogal,0 days 01:20:07.000000000,0 days 01:19:29.000000000,06/11/1937,sao-joao,2012,15,42